// for grid box display
.footer {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-areas: "box1 box1 box2 box3 box4";
    padding-top: 90px;
    background-color: #222222;
    // height: 450px;
    color: #fff;
    padding-bottom: 100px;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}
.box4 {
    grid-area: box4;
}
.box1 {
    grid-area: box1;
}
.paragraph-sh {
    // width: 40%;
    // padding-left: 40px;
    margin-left: 40px;

    p {
        width: 80%;
        line-height: 1.5;
        padding-bottom: 15px;
    }
    ul {
        i {
            cursor: pointer;
            font-size: 22px;
            padding: 6px 6px;
            margin: 2px 10px;
            background-color: #fff;
            color: #000;
            border-radius: 100%;
            width: 32px;
            height: 32px;
        }
    }
    h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}
.paragraph {
    // width: 20%;
    // padding-left: 20px;
    // margin-left: 10px;

    p {
        padding-bottom: 15px;
        cursor: pointer;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}
// for flex box display
//  .footer{
//     padding-top: 90px;
//     background-color: #222222;
//     height: 450px;
//     color: #fff;
//     display: flex;
//  }
//  .paragraph-sh{
//     width: 40%;
//     padding-left: 40px;
//  }
//  .paragraph {
//     width: 20%;
//     padding-left: 20px;
//     margin-left: 10px;
//  }
//  .paragraph p{
//     padding-bottom: 15px;
//  }
//  .paragraph h2 ,.paragraph-sh h2{
//     margin-bottom: 20px;
//     font-size: 1.5rem;
//  }
//  .paragraph-sh p{
//     width: 80%;
//     line-height: 1.5;
//     padding-bottom: 15px;
//  }
//  .paragraph-sh ul i{
//     font-size: 22px;
//     padding:6px 6px ;
//     margin: 2px 10px;
//     background-color: #fff;
//     color: #000;
//     border-radius: 100%;
//     width: 32px;
//     height: 32px;
//  }
